*{
    display: grid;
    justify-content: center;
    position: relative;
    font-family: montserrat;
    margin-top: 20px;
}

.forma {
    animation: aparece 1s;
    animation-iteration-count: infinite;
    display: grid;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #348dc9;
    font-family: montserrat;
    text-align: center;
    align-content: center;
    font-weight: 500;
    transition: 0.5s;
}

.forma:hover {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border-bottom-right-radius: 1.2em;
    color: #ffe345;
    background-color: #00ad4e;
    font-family: montserrat;
    text-align: center;
    align-content: center;
    transition: 0.5s;
}

@keyframes aparece {
    0% {
        opacity: 4;

    }
    100% {
        opacity: 1;
        border-radius: 10px;
        transform: scale(1.1);
        font-weight: 700;
        color: aqua;
    }
}