body {
    margin: 0px;
}

div {
    width: 100px;
    height: 100px;
    margin: 0px;
    border: solid;
    border-radius: 20px;
    border-image-slice: 2;
    border-width: 10px;
    border-image-source: 
        linear-gradient(
            45deg,
            #ff8800,
            #ff0095,
            #4e1177,
            #00f5fd);
}

main {
    animation: giro 2s infinite;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border: solid;
    border-radius: 20px;
    border-image-slice: 2;
    border-width: 10px;
    border-image-source: 
        linear-gradient(
            135deg,
            #ff8800,
            #ff0095,
            #4e1177,
            #00f5fd);
}

@keyframes giro {
    0% {
        
    }
}